* {
  padding: 0;
  margin: 0;
}
body {
  background-color: ghostwhite;
  font-family: "Times New Roman", Times, serif;
  font-size: 110%;
  box-sizing: border-box; 
  margin: 0;
}
.header {
  background-color: snow;
  height: 60px;
  padding-bottom: 5px;
}
.bHeader {
  margin-top: 16px;
  margin-right: 30px;
  float: right;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(129, 48, 48);
}

.logo {
  width: 200px;
  float: left;
  margin-top: 12px;
  margin-left: 30px;
}

.secClass {
  background-image: url("city.jpg");
  background-repeat: no-repeat;
  height: 200px;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  background-color: rgb(129, 48, 48);
  padding: 70px;
  line-height: 75px;
  /* overflow: auto; */
}
.Headers {
  color: snow;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: -40px;
  
}

p {
  text-align: center;
   /* color: snow;  */
}

ul {
  /* margin: auto;*/
  width: 40%; 
  margin-top: 100px;
  margin-right: 100px;
  font-size: 20px;
  list-style: none;
  background-color: snow;
  float: right;
  
  padding: 30px;
  
  border: 1px solid black;
  -webkit-text-stroke: 0.5px black;
  line-height: 30px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: snow;
  web
  /* background-color: cornflowerblue; */
}
a:hover {
  color: blue;
}

button {
  padding: 7px;
  background-color: snow;

  border-width: 1px;
  margin-left: 15%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  overflow: auto;
}
th,
td {
  padding: 10px;
  text-align: center;
}
